.react-tagsinput {
  border: 1px solid #d1d1d1;
  overflow: hidden;
  padding-left: 15px;
  border-radius: 5px;
  background: #f9f9f9;
  height: 45px;
  display: flex;
  align-items: center;
}

.react-tagsinput-tag {
  background-color: #fbf4d2;
  border: 1px solid #e9e2c0;
  border-radius: 2px;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;
  padding: 5px 10px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  padding: 5px;
  width: 80px;
}
